body {
  font-family: 'Noto Sans', sans-serif;
}

@media screen {
  .grid-container{
    margin: auto;
    display: inline-grid;
    grid-template-columns:10% 30% 30% 30%;
    align-items: center;
    grid-gap: 10px;
    padding: 0;
    width: 90%;
  }

  .mobile-grid-container{
      display: none;
  }

  #logo{
    width: 7.5%;
    position: fixed;
    top: 1.75%;
    left: 1%;
  }
  #cornell-logo {
    
  }
}

@media screen and (max-width: 760px) {
  .mobile-grid-container{
    margin: auto;
    display: inline-grid;
    grid-template-columns:100%;
    align-items: center;
    grid-gap: 10px;
    padding: 0;
    width: 75%;
  }

  .grid-container{
      display: none;
  }
  #logo{
    width: 10%;
    top: 0;
    left: 0;
  }
}
.grid-item img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.ms {
    font-family: monospace;
    font-weight: bold;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
}

.hero-body {
  margin-top: -20px;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.layered-paper-big {
  /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
  box-shadow:
          0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
          5px 5px 0 0px #fff, /* The second layer */
          5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
          10px 10px 0 0px #fff, /* The third layer */
          10px 10px 1px 1px rgba(0,0,0,0.35), /* The third layer shadow */
          15px 15px 0 0px #fff, /* The fourth layer */
          15px 15px 1px 1px rgba(0,0,0,0.35), /* The fourth layer shadow */
          20px 20px 0 0px #fff, /* The fifth layer */
          20px 20px 1px 1px rgba(0,0,0,0.35), /* The fifth layer shadow */
          25px 25px 0 0px #fff, /* The fifth layer */
          25px 25px 1px 1px rgba(0,0,0,0.35); /* The fifth layer shadow */
  margin-left: 10px;
  margin-right: 45px;
}


.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}
